body,html{
	width:100%;
	height:100%;
	padding: 0;
	margin: 0;
}
#wrap{
	width:100%;
}
#header_wrap{
	width:100%;
}
#header_wrap_header{
	width:100%;
	height:25px;
	background:#f6f6f6;
}
#header_wrap_header:not(#headerRight a:nth-child(1)) {
	color: #888888;
}
#header_wrap_header_headerRight a,#header_wrap_header_headerLeft a{
	text-decoration: none;
    color:#888888;
    font-size: 13px;
}
#header_wrap_header_headerLeft{
	margin-left:5%;
	float: left;
}
#header_wrap_header_headerRight{
	margin-right:5%;
	float: right;
}
.clear:after{
	content:"";
    visibility:hidden;
    display:block;
    clear:both;
}
#header_wrap_header_headerLeft a{
	padding-right: 10px;
	border-right: #ececec solid 1px;
}
#header_wrap_header_headerLeft a:hover{
	color:#25b2fe;
}
#header_wrap_header_headerRight a:hover{
	color:#25b2fe;
}
#header_wrap_header_headerRight a:nth-child(1){
	color:#e40077;
	padding: 0 10px 0 25px;
    background: url(../img/t3-1.png) 10px center no-repeat;
    cursor: pointer;
}
#header_wrap_header_headerRight a:nth-child(1):hover{
	color:#25b2fe;
	padding: 0 10px 0 25px;
    background: url(../img/t3-2.png) 10px center no-repeat;
    cursor: pointer;
}
.header_wrap_header_headerRight_span{
	color:#dde2e8;
}
#header_wrap_header_headerRight a:nth-child(3){
	padding: 0 10px 0 25px;
    background: url(../img/t1-1.png) 10px center no-repeat;
    cursor: pointer;
}
#header_wrap_header_headerRight a:nth-child(3):hover{
	padding: 0 10px 0 25px;
    background: url(../img/t1-2.png) 10px center no-repeat;
    cursor: pointer;
}
#header_wrap_content{
	width:100%;
}
#header_wrap_content_top{
	width:88.88%;
	margin:0 auto;
}
#header_wrap_content_content{
	width: 88.88%;
	margin: 0 auto;
}
#header_wrap_content_top img:nth-child(1){
	width:100%;
}
#header_wrap_content_top img:nth-child(2){
	position: absolute;
	z-index: 2;
	right: 68px;
	top:25px;
}
#header_wrap_content_content_left{
	padding-top: 30px;
}
#header_wrap_content_content_leftTwo_solider{
	width:0;
    height:0;
    border-width:7px 7px 0;
    border-style:solid;
    border-color:#333 transparent transparent;
}
#header_wrap_content_content_leftTwo_spanOne{
	font-family: '微软雅黑';
	font-size: 15px;
	color: black;
	margin-left: 20px;
}
#header_wrap_content_content_rightBottom a{
	padding: 10px;
	text-decoration: none;
    font-size: 13px;
}
#header_wrap_content_content_rightBottom a:nth-child(1),#header_wrap_content_content_rightBottom a:nth-child(3),#header_wrap_content_content_rightBottom a:nth-child(4),#header_wrap_content_content_rightBottom a:nth-child(6){
	color:#666666;
	font-size: 12px;
}
#header_wrap_content_content_rightBottom a:nth-child(2),#header_wrap_content_content_rightBottom a:nth-child(5){
	color:#e40077;
}
#header_wrap_content_content_rightBottom a:hover{
	text-decoration:underline;
	text-underline-color:#25b2fe ;
	color:#25b2fe;
}
#header_wrap_content_content_rightTop_input{
	width:476px;
	height:37px;
	box-shadow:3px 3px 3px #f1f1f1;
	padding-left: 10px;
}
#header_wrap_content_content_rightTop_input{
	color:#DDE2E8;
}
#header_wrap_content_content_rightTop_button{
	width:85px;
	height:43px;
	background-color:#25B2FE;
	color:white;
	border: none;
	margin-left:-90px;
	font-size: 15px;
	border-radius:2px;
}
#header_wrap_content_footer{
	margin: 0 auto;
	width:88.88%;
	height:40px;
	background-color:#e4e4e4;
	display:-webkit-flex;
	display:flex;
	-webkit-box-orient:vertical;
}
.header_wrap_content_footer_directory{
	text-align:center;
	line-height:40px;
	height: 40px;
	background-color:#e4e4e4;   
}
.one,.two,.three,.four{
	border-right: 1px solid white;
}
#header_wrap_content_footer a{
	color:#666666;
	text-decoration:none;
}
.one{
	color: #0085d0;
	font-weight:bold;
	box-sizing: border-box;
	border-top: 2px solid #0085d0;
}
.one:hover{
	background-color:#f6f6f6;
}
.two:hover,.three:hover,.four:hover,.five:hover{
	color:#25B2FE;
	background-color:#f6f6f6;
}
#content_wrap{
	width:100%;
	margin-top:7px;
}
#content_wrap_top{
	width:88.9%;
	margin: 0 auto;
}
#content_wrap_top_left{
	width:13%;
	height:350px;
	border:1px solid #25B2FE;
	float: left;
	margin-right: 0.83%;
}
.content_wrap_top_left_one{
	font-size: 12px;
	line-height: 23.3px;	
}
.content_wrap_top_left_two{
	font-size: 15px;
	line-height: 46.6px;
	left:20%;
}
#phone{
	width:80%;
	margin:0 auto;
	font-size:15px;
	line-height:46.6px;
	text-align:left;
	/*padding-left: 46%;*/
	border-bottom:1px #e9e9e9 solid;
	background:url(../img/shopclass01.gif) no-repeat 23% center;
}
.spanOne{
	border-bottom: 1px solid #e9e9e9;
	width:80%;
	margin: 0 auto;
}
#content_wrap_top_left a{
	text-decoration: none;
	font-family: "微软雅黑";
	color: #000000;
	/*text-align: center;*/
}
.swiper-container{
	width:61.66%;
	height:350px;
	float: left;
}
.swiper-slide{
	width:100%;
	height: 100%;
}
#content_wrap_top_right{
	width:23%;
	height:350px;
	border: 1px solid #dfdfdf;
	float: left;
	margin-left: 0.83%;
}
.img{
	vertical-align:middle;
	margin-right: 5px;
	margin-left:0px;
}
.content_wrap_top_right_top_image:hover{
	width:36px;
	height:36px;
}
#content_wrap_top_right_bottom_li:hover{
	text-decoration: underline;
}
@media screen and (max-width: 1070px) {
    #header_wrap_content_top{
		width:95%;
		margin:0 auto;
    }
    #header_wrap_content_top img:nth-child(2){
		position: absolute;
		z-index: 2;
		right: 25px;
		top:25px;
	}
}
/*#content_wrap_top_left_two_spanOne{
	background-image: url(img/download.png);
}*/
@media screen and (max-width: 1220px) {
    #header_wrap_content_content_rightBottom a:nth-child(6){
		display: none;
    }
}
@media screen and (max-width: 1120px) {
    #content_wrap_top_left{
		display: none;
	}
	.swiper-container{
		margin-left: 0;
		width:71%;
	}
	#content_wrap_top_right{
		width:27.7%;
	}
}